@model IEnumerable<ChatCoffee.Models.ModelViews.CTDONHANG>
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/css/profile.css" rel="stylesheet" />
<style>
    table, td, th {
        border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<section class="content">
    <!-- Default box -->
    <br />
    <div style="text-align: -webkit-center; ">

        <div style="width: 800px; background-color:white; border-radius: 10px">
            <div>
                <div style="padding-top: 15px">
                    
                    <h2>HÓA ĐƠN MUA HÀNG</h2>
                    <hr />
                    <dl class="dl-horizontal" style="text-align:center">
                        <div class="pro_group row" style="margin-left: 70px; margin-right: 70px;">
                            @if (Model != null)
                            {
                                var u = Model.First();
                                <div class="col-6" style="float:left; text-align:left">

                                    <h4><b>Họ tên:</b> @u.HOADON.AspNetUser.FullName</h4>
                                    <h4><b>Số điện thoại:</b> @u.HOADON.SDTDAT</h4>
                                    <h4><b>Địa chỉ:</b> @u.HOADON.DIACHIGIAO</h4>
                                </div>
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="float: left; text-align: left">
                                    <h4><b>Người bán:</b> ChatCoffee</h4>
                                    <h4><b>Ngày đặt:</b> @u.HOADON.NGAYDAT</h4>
                                    <h4><b>Ngày giao:</b> @u.HOADON.NGAYGIAO.ToShortDateString()</h4>
                                </div>


                                <table style="width: 100%;">
                                    <br />
                                    <br />
                                    <tr>
                                        <td>STT</td>
                                        <td>Tên sản phẩm</td>
                                        <td>Giá</td>
                                        <td>Số lượng</td>
                                        <td>Thành tiền</td>
                                    </tr>
                                    @{int i = 1;
                                        foreach (var ct in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@ct.COFFEE.TENCF</td>
                                                <td>@ct.COFFEE.GIA VNĐ</td>
                                                <td>@ct.SOLUONG</td>
                                                <td>@ct.GIA VNĐ</td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                </table>
                                <table>
                                    <tr>
                                        <td style="width:100%;"> Phí vận chuyển: <strong>@u.HOADON.VANCHUYEN.GIA VNĐ</strong> </td>
                                    </tr>
                                    <tr>
                                        <td style="width:100%"> Tổng tiền: <strong>@u.HOADON.TONGDONGIA VNĐ</strong> </td>
                                    </tr>
                                </table>

                            }
                        </div>
                        <hr />

                    </dl>

                    <i>ChatCoffee cảm ơn quý khách đã mua hàng.</i>
                </div>
            </div>
        </div>
    </div>
</section>

