@model ChatCoffee.Models.ModelsDefault.THUONGHIEU

@{
    ViewBag.Title = "Thêm mới Quyền";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/ManagePayment" class="nav-link">Danh sách thương hiệu</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/ManagePayment/Edit" class="nav-link">Thêm thương hiệu mới</a>
        </li>
    </ul>
}

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-left: 20px">
            <h4>Thương hiệu</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Tên thương hiệu:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENTH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENTH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Thêm mới</button>
                </div>
            </div>
        </div>
    }

</body>
</html>

