@model ChatCoffee.Models.ModelsDefault.COFFEE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>COFFEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOAISANPHAM.TENLOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TENLOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUONGHIEU.TENTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TENTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHOILUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOILUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XUATXU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XUATXU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANGCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANGCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

    </dl>
</div>
<p>
</p>
