﻿@model ChatCoffee.Models.ModelsDefault.LOAISANPHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Loaisanpham" class="nav-link">Danh sách loại</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Loaisanpham/Create" class="nav-link">Thêm loại mới</a>
        </li>
    </ul>
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Thêm mới loại sản phẩm  </h3>


        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <label>Tên loại:</label>
                    @Html.TextBoxFor(x => x.TENLOAI, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <strong>Hình</strong>
                        @Html.EditorFor(x => x.ANH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.ANH, "", new { @class = "text-danger" })
                        <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                        <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                        <img src="" id="pictureUpload" />
                    </div>
                </div>
                @section upload
{
                    <script>
                        $(function () {
                            $('#btnUpload').click(function () {
                                $('#fileUpload').trigger('click');
                            });
                        });
                        $('#fileUpload').change(function () {
                            if (window.FormData !== undefined) {
                                var fileUpload = $('#fileUpload').get(0);
                                var files = fileUpload.files;
                                var formData = new FormData();
                                formData.append('file', files[0]);
                                $.ajax(
                                    {
                                        type: 'POST',
                                        url: '/Loaisanpham/ProcessUpload',
                                        contentType: false,
                                        processData: false,
                                        data: formData,
                                        success: function (urlImage) {

                                            $('#pictureUpload').attr('src', urlImage);
                                            $('#ANH').val(urlImage);
                                        },
                                        error: function (err) {
                                            alert('Error ', err.statusText);

                                        }
                                    });
                            }
                        });
                    </script>
                }



                <div class="form-group">
                    <button type="submit" class="btn btn-success">Thêm mới</button>
                </div>
            }

        </div>
        <div class="card-footer">


        </div>

    </div>


</section>