@model ChatCoffee.Models.ModelViews.AspNetUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/css/profile.css" rel="stylesheet" />


@section naviheader{
    <ul class="navbar-nav" style="flex-direction: row; padding-left: 1rem;">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/home/index" class="nav-link">Trang chủ</a>
        </li>
        <span class="divider" style="position: relative; top: 14px; opacity: .35; margin: 0 0.5em; font-weight: 500;">/</span>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/User/Index" class="nav-link">Thông tin tài khoản</a>
        </li>
    </ul>
}
<h2>Thông tin tài khoản</h2>

<!-- Main content -->
<section class="content">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Setting</button>
    <!-- Default box -->

    <div style="text-align: -webkit-center">

        <div style="width: 600px; background-color:white; border-radius: 10px">
            <div>
                <div>
                    <hr />
                    <dl class="dl-horizontal" style="text-align:center">

                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <dd style="margin-left: 0">
                                <button type="button" class="btn btn-info btn-lg" id="btn_avatar" data-toggle="modal" data-target="#Modal"></button>

                                @*@Html.ValidationMessageFor(model => model.ANH, "", new { @class = "text-danger" })
                                    <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                                    <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" style="margin-top: 300px;" />
                                    <img src="@Model.ANH" alt="Alternate Text" id="avatar" style="margin-left: -400px;" />*@

                                <img src="@Model.ANH" alt="Alternate Text" , id="avatar" />


                                <div class="modal" id="Modal" role="dialog">
                                    @*<div class="modal-content" id="modal_content"  >*@
                                    <!-- Modal content-->
                                    <div class="modal-body" id="modal_body">
                                        @if (Model.ANH != null)
                                        {
                                            <img src="@Model.ANH" alt="Alternate Text" style="object-fit: cover; width: 800px; margin-left: -150px; " />
                                        }
                                        else
                                        {
                                            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" alt="Alternate Text" />
                                        }
                                    </div>

                                    @*</div>*@
                                </div>
                            </dd>
                        </div>




                        <div class="pro_group">
                            <dt>
                                <h4 style="float:left"><b>Họ tên:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.FullName</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Giới tính:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.GIOITINH</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Năm sinh:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.NGAYSINH</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Email:</b></h4>
                            </dt>
                            <dd>
                                <h4 style="float:left">@Model.Email</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Số điện thoại:</b></h4>
                            </dt>
                            <dd>
                                <h4 style="float:left">@Model.Phone</h4>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="myModal" role="dialog">
        @*<div class="modal-header">

            </div>*@
        <div class="modal-content" style="width: 50%; margin-left: 400px; height: auto;">
            <h3 class="card-title">Thông tin tài khoản</h3>
            <div class="modal-body">
                @using (Html.BeginForm("edit", "home", new { @id = Model.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã KH</label>
                            @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Id, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Họ tên</label>
                            @Html.EditorFor(x => x.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.FullName, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Giới tính</label>
                            @Html.EditorFor(x => x.GIOITINH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.GIOITINH, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            @if (Model.NGAYSINH == null)
                            {
                                <input type="date" name="NGAYSINH" value=""
                                       max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="NGAYSINH" value="@DateTime.Parse(Model.NGAYSINH.ToString()).ToString("yyyy-MM-dd")"
                                       max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại</label>
                            @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Phone, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-10" style="margin-left: -16px;">
                                <strong>Hình</strong>
                                @Html.EditorFor(x => x.ANH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(x => x.ANH, "", new { @class = "text-danger" })
                                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                                <input type="button" id="btnUpload" value="Tải ảnh" class="btn btn-success" />
                                <br />
                                <img src="" id="pictureUpload " />
                            </div>
                        </div>

                        <div class="modal-footer" style="border-top: 1px solid #f8f9fa; margin-top: 100px;">

                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Trở lại</button>
                        </div>
                    </div>

                }

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>

<!-- /.content -->
@*@section  scripts{
        <script>
              $(document).ready(function () {
                  CKEDITOR.replace('txtDetail', {
                      customConfig: '/content/ckeditor/config.js',
                      extraAllowedContent: 'span',
                  });
              });
              function BrowseServer(field) {
                  var finder = new CKFinder();
                  finder.selectActionFunction = function (fileUrl) {
                      document.getElementById(field).value = fileUrl;
                  };
                  finder.popup();
              }

        </script>
    }*@


@section upload
{
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
        });
        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $('#fileUpload').get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append('file', files[0]);
                $.ajax(
                    {
                        type: 'POST',
                        url: '/User/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr('src', urlImage);
                            $('#ANH').val(urlImage);
                        },
                        error: function (err) {
                            alert('Error ', err.statusText);
                        }
                    });
            }
        });
    </script>
}