@model ChatCoffee.Models.ModelsDefault.COFFEE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/CHITIET.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/single_responsive.css">
<script src="~/Content/JS/single_custom.js"></script>

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/style.min.css" rel="stylesheet" />

@section naviheader{
    <ul class="navbar-nav" style="flex-direction: row; padding-left: 1rem;">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/home/index" class="nav-link">Trang chủ</a>
        </li>
        <span class="divider" style="position: relative; top: 9px; opacity: .35; margin: 0 0.5em; font-weight: 500;">/</span>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/coffees/index" class="nav-link">Sản phẩm</a>
        </li>
        <span class="divider" style="position: relative; top: 9px; opacity: .35; margin: 0 0.5em; font-weight: 500;">/</span>
        <li class="nav-item d-none d-sm-inline-block">
            @*<a href="/coffees/details/" class="nav-link">@Model.TENCF</a>*@
            <a href="@Url.Action("details", "coffees", new { @id = Model.MACF })" class="nav-link">@Model.TENCF</a>
        </li>
    </ul>
}

<div class="container">
    <div class="content" style="height: 500px;">
        <div class="Content-left" style="margin-left: 15px;">
            <div class="Content-left-img-big">

                <img src="@Model.ANHs.Where(x => x.MACF == Model.MACF).FirstOrDefault().LINKANH" alt="Card image" style="height: 446px; margin-top: 15px; width: 470px; object-fit: cover; ">
            </div>
        </div>
        <div class="Content-right">
            @using (Html.BeginForm("AddSP", "ShoppingCard",
                new { @maSP = Model.MACF, @strURL = Request.Url.ToString() }))
            {
                <div class="Content-right-name">
                    <br />
                    <h1 style="font-weight: bold; font-size: 1.7em; line-height: 1.3;">@Model.TENCF</h1>
                    @*<p>Thương hiệu: @Model.THUONGHIEU.TENTH</p>
                        <p>Loại sản phẩm: @Model.LOAISANPHAM.TENLOAI</p>*@
                    <p>Lượt xem: <b>@Model.ViewCount</b></p>
                </div>
                <div class="Content-right-price">
                    <p> @String.Format("{0:0,0}", @Model.GIA) <span class="woocommerce-Price-currencySymbol" style="font-size: .95em; vertical-align: top; margin-top: 0.05em ;">₫</span> </p>
                </div>

                if (Model.SOLUONG > 0)
                {
                    <div class="quantity">
                        <p>
                            Số lượng: <input type="number" min="1" max=" @Model.SOLUONG" name="txtSoLgMua" value="1" />
                        </p>
                        <p>
                            Số lượng còn: @Model.SOLUONG
                        </p>
                    </div>
                    <br><br />
                    <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-success" />
                }
                else
                {
                    <h4 style="text-align:center; font-family:Tahoma">Hết hàng</h4>
                }
            }
        </div>
    </div>
    <br />
    <div class="product-details-tab ">

        <ul class="row nav nav-pills  " style="font-size:24px; background-color:aliceblue" role="tablist">
            <li class="nav-item col-lg-6 ">
                <a class="nav-link active " style="text-align: center; font-family:  sans-serif;" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true"><strong>Chi tiết</strong></a>
            </li>
            <li class="nav-item col-lg-6">
                <a class="nav-link" style="text-align: center; font-family:  sans-serif;" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false"><strong>Mô tả</strong></a>
            </li>

        </ul>
        <br />
        <div class="tab-content">
            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                <table class="table table-striped">
                    <h4>Chi tiết sản phẩm</h4>
                    <tbody>
                        <tr>
                            <td> Tên</td>
                            <td>@Model.TENCF</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Loại</td>
                            <td>@Model.LOAISANPHAM.TENLOAI</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Thương hiệu</td>

                            <td>@Model.THUONGHIEU.TENTH</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Xuất xứ</td>
                            <td>@Model.XUATXU</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Khối lượng</td>
                            <td>@Model.KHOILUONG g</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Dạng</td>
                            <td>@Model.DANGCF</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Hạn sử dụng</td>
                            <td>@Model.HSD tháng</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Số lượng còn</td>
                            <td>@Model.SOLUONG  </td>
                            <td></td>

                        </tr>
                    </tbody>
                </table><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                <div class="product-desc-content">
                    <p style="font-weight: 30; font-size: 20px;">@Model.MOTA</p>


                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->

        </div><!-- End .tab-content -->
    </div><!-- End .product-details-tab -->

</div>


