@model IEnumerable<ChatCoffee.Models.ModelsDefault.COFFEE>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ANHs.Where(c => c.MACF == item.MACF).FirstOrDefault();
        if (img != null)
        {

            strImge = img.LINKANH;
        }
        <div class="col-lg-3 pro-item " >
            <div class="pro  "style="width: 190px; height: 280px; margin-top: -30px;">
                <img src="@strImge" alt="@item.TENCF" class="pro_image" style="margin-left:0; margin-top:0;">

                <div class="pro_info">
                    <h6 style="margin-top: 25px;">
                        <a>@item.TENCF</a>
                    </h6>
                    <div class="pro_info_price">
                        <h6 style="margin: 0px; font-size:20px;">
                            <b> @item.GIA đ</b>
                        </h6>
                    </div>

                </div>

                @if (@item.SOLUONG > 0)
                {
                    <div class="pull-right">
                        <div class="DatMua">
                            <a class="btn btn-success btn_Buy " style="display: block; margin-top: 55px; padding-top: 7px; background-color: #271010; " href="@Url.Action("AddSP", "ShoppingCard",
                               new {  @maSP = item.MACF,@maGH=1 , @strURL = Request.Url.ToString() })">Thêm vào giỏ hàng</a>
                            @*<span style="float:left"> Số lượng: @item.SOLUONG</span>*@
                        </div>
                    </div>
                }
                else
                {
                    <p style="margin: 0px; font-size: 18px; text-align:center"><a>Hết hàng </a></p>
                }

            </div>
        </div>
    }
}




