@model ChatCoffee.Models.ModelsDefault.VANCHUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>

<div>
    <h4>VANCHUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAVT }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
