@model PagedList.IPagedList<ChatCoffee.Models.ModelViews.AspNetUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý tài khoản";

}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Danh sách Tài khoản </h3>

            <div class="card-tools">
                <a href="/admin/account/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">

            <table class="table table-bordered">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <thead>
                        <tr>
                            <th>Mã tài khoản</th>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.UserName</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.Roles.Where(c => c.UserId == item.Id).FirstOrDefault().RoleId)</td>*@
                                    <td>@item.FullName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a href="/admin/account/edit/@item.Id" class="btn btn-sm btn-primary">Chỉnh sửa</a>
                                        <a href="#" data-user="@item.UserName" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                        @*<input type="submit" value="Delete" class="btn btn-danger" />*@
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                }
            </table>

        </div>
        <div class="card-footer">

        </div>
    </div>
    <div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
            @Model.PageCount
        </div>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page = page
            }))
        </div>
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
    <style type="text/css">
        #mau-nut a {
            clear: both;
            background-color: orange;
            color: snow;
        }

            #mau-nut a:hover {
                background-color: darkcyan;
                color: snow;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxLength = 100;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);

                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                    $(this).append('<span class="more-text">' + removedStr + '</span>');
                }
            });
            $(".read-more").click(function () {
                $(this).siblings(".more-text").contents().unwrap();
                $(this).remove();
            });
        });
    </script>
    <style>
        .show-read-more .more-text {
            display: none;
        }
    </style>
</section>


