
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listGH = ViewBag.listGH;
}

<div class="container">


    <table class="table">
        <tr style="text-align:center">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Giá
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in listGH)
        {
            @*Khi sản phẩm đáp ứng đủ sl mua *@
            if (item.COFFEE.SOLUONG >= item.SOLUONG && item.COFFEE.TRANGTHAI == true)
            {
                using (Html.BeginForm("UpdateGioHang", "ShoppingCard", new { @maCF = item.MACF }))
                {
                    <tr>
                        <td> @item.COFFEE.TENCF</td>
                        <td>
                            <a href="@Url.Action("Details", "Coffees", new { @id = item.MACF })">
                                <img src="@*@item.COOFFEE.*@" width="90" />
                            </a>
                        </td>
                        <td>@String.Format("{0:0,0}", item.GIA) <sup>VNĐ</sup></td>
                        <td>

                            <input type="number" min="1" max="@String.Format("{0:0,0}", item.COFFEE.SOLUONG)" name="txtSolg" value="@item.SOLUONG" /><sub>còn: @item.COFFEE.SOLUONG </sub>
                        </td>
                        <td>  @String.Format("{0:0,0}", item.TONGGIA) <sup>VNĐ</sup> </td>

                        <td>


                        </td>
                        <td>
                            <div class="pull-right">
                                <div class="DatMua">
                                    <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    <a class="btn btn-success" href="@Url.Action("DeleteGioHang", "ShoppingCard", new { @maCF = item.MACF, @strURL = Request.Url.ToString() })">Xóa</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            }
            else
            {
                using (Html.BeginForm("UpdateGioHang", "ShoppingCard", new { @maCF = item.MACF }))
                {

                    <tr style="background-color: #703a4961">
                        <td><strike> @item.COFFEE.TENCF</strike></td>
                        <td>
                            <a href="@Url.Action("Details", "Coffees", new {@id=item.MACF})">
                                <img src="@*/@item.COFFEE.LINKANH*@" width="90" />
                            </a>
                        </td>
                        <td>  <strike>   @String.Format("{0:0,0}", item.GIA) </strike><sup>VNĐ</sup></td>

                        <td>
                            @if (item.COFFEE.TRANGTHAI == false)
                            {
                                <strike>   @item.SOLUONG </strike>
                            }
                            else
                            {
                                <input type="number" min="1" max=" @String.Format("{0:0,0}", item.COFFEE.SOLUONG)" name="txtSolg" value="@item.SOLUONG" /><sub>còn: @item.COFFEE.SOLUONG </sub>
                            }
                        </td>
                        <td>

                            <strike>  @String.Format("{0:0,0}", item.TONGGIA) </strike><sup>VNĐ</sup>
                        </td>


                        @if (item.COFFEE.TRANGTHAI == false)
                        {
                            <td>

                                <p> <strong> Sản phẩm hiện ngừng bán</strong>  </p>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <div class="DatMua">
                                        <a class="btn btn-success" href="@Url.Action("DeleteGioHang", "ShoppingCard", new { @maCF = item.MACF, @strURL = Request.Url.ToString() })">Xóa</a>
                                    </div>
                                </div>
                            </td>
                        }
                        else if (item.COFFEE.SOLUONG == 0)
                        {
                            <td>
                                <strong>Sản phẩm đã hết hàng</strong>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <div class="DatMua">
                                        <a class="btn btn-success" href="@Url.Action("DeleteGioHang", "ShoppingCard", new { @maCF = item.MACF, @strURL = Request.Url.ToString() })">Xóa</a>
                                    </div>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <strong>Số lượng không đủ</strong>
                                
                            </td>
                            <td>
                                <div class="pull-right">
                                    <div class="DatMua">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                        <a class="btn btn-success" href="@Url.Action("DeleteGioHang", "ShoppingCard", new { @maCF = item.MACF, @strURL = Request.Url.ToString() })">Xóa</a>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
        }
        <tr style="font-weight:bold; text-align:left; color:red">
            <td colspan="2"> Tổng sản phẩm:  @String.Format("{0:0,0}", ViewBag.SumSP)</td>
            <td colspan="2"> Số lượng sản phẩm:  @String.Format("{0:0,0}", @ViewBag.SumQuantity)</td>
            <td colspan="4"> Tổng tiền:  @String.Format("{0:0,00}", @ViewBag.SumPrice) VNĐ</td>
        </tr>
        @if (@ViewBag.SumSP != 0)
        {
            <tr style="font-weight:bold; color:blue; text-align:right">
                <td colspan="5">
                    @Html.ActionLink("Xoá giỏ hảng", "DeleteAll")
                </td>
            </tr>
            <tr style="font-weight:bold; color:yellow; text-align:right">
                <td colspan="5">
                    @Html.ActionLink("Đặt hàng", "Order", "ShoppingCard")
                </td>
            </tr>
        }

    </table>
</div>