@model ChatCoffee.Models.ModelViews.AspNetUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    var dc = ViewBag.dc;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/css/profile.css" rel="stylesheet" />

<h2>Thông tin tài khoản</h2>

<!-- Main content -->
<section class="content">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Setting</button>
    <!-- Default box -->

    <div style="text-align: -webkit-center">

        <div style="width: 600px; background-color:white; border-radius: 10px">
            <div>
                <div>
                    <hr />
                    <dl class="dl-horizontal" style="text-align:center">
                        <dd style="margin-left: 0">
                            <button type="button" class="btn btn-info btn-lg" id="btn_avatar" data-toggle="modal" data-target="#Modal"></button>
                            @if (Model.ANH != null)
                            {
                                <img src="@Model.ANH" ," alt="Alternate Text" , id="avatar" />
                            }
                            else
                            {
                                <img src="https://kynguyenlamdep.com/wp-content/uploads/2022/08/avatar-co-gai-cuc-cool-ngau-600x592.jpg" ," alt="Alternate Text" , id="avatar" />
                            }

                            <div class="modal" id="Modal" role="dialog">
                                @*<div class="modal-content" id="modal_content"  >*@
                                <!-- Modal content-->
                                <div class="modal-body" id="modal_body">
                                    @if (Model.ANH != null)
                                    {
                                        <img src="@Model.ANH" ," alt="Alternate Text" />
                                    }
                                    else
                                    {
                                        <img src="https://kynguyenlamdep.com/wp-content/uploads/2022/08/avatar-co-gai-cuc-cool-ngau-600x592.jpg" ," alt="Alternate Text" />
                                    }
                                </div>

                                @*</div>*@
                            </div>
                        </dd>
                        <div class="form-group">
                            @*<h5 class="control-label col-md-2" style="margin-top:-1px"> <b>Hình:</b></h5>*@
                            <div class="col-md-1" style="margin-top: -40px">
                                @*@Html.EditorFor(model => model.ANH, new { htmlAttributes = new { @class = "form-control" } })*@
                                @*@Html.ValidationMessageFor(model => model.ANH, "", new { @class = "text-danger" })*@
                                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                                <br />
                                <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                                @*<br />
                                    <br />*@
                                @*<img src="https://kynguyenlamdep.com/wp-content/uploads/2022/08/avatar-co-gai-cuc-cool-ngau-600x592.jpg" id="pictureUpload" width="200px" height="300px" />*@
                            </div>
                        </div>


                        <div class="pro_group">
                            <dt>
                                <h4 style="float:left"><b>Họ tên:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.FullName</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Giới tính:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.GIOITINH</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Năm sinh:</b></h4>
                            </dt>

                            <dd>
                                <h4 style="float:left">@Model.NGAYSINH</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Email:</b></h4>
                            </dt>
                            <dd>
                                <h4 style="float:left">@Model.Email</h4>
                            </dd>
                            <dt>
                                <h4 style="float:left"><b>Số điện thoại:</b></h4>
                            </dt>
                            <dd>
                                <h4 style="float:left">@Model.Phone</h4>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="myModal" role="dialog">
        @*<div class="modal-header">

            </div>*@
        <div class="modal-content" style="width: 50%; margin-left: 400px; height: auto;">
            <h3 class="card-title">Thông tin tài khoản</h3>
            <div class="modal-body">
                @using (Html.BeginForm("edit", "user", new { @id = Model.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã KH</label>
                            @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Id, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Họ tên</label>
                            @Html.EditorFor(x => x.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.FullName, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                                <label>Giới tính</label>
                                @Html.EditorFor(x => x.GIOITINH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(x => x.GIOITINH, null, new { @class = "text-danger" })
                            </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>

                            <input type="date" name="NGAYSINH" value="@DateTime.Parse(Model.NGAYSINH.ToString()).ToString("yyyy-MM-dd")" 
                                   max="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại</label>
                            @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Phone, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Trở lại</button>
                        </div>
                    </div>

                }

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>

<!-- /.content -->
@*@section  scripts{
        <script>
              $(document).ready(function () {
                  CKEDITOR.replace('txtDetail', {
                      customConfig: '/content/ckeditor/config.js',
                      extraAllowedContent: 'span',
                  });
              });
              function BrowseServer(field) {
                  var finder = new CKFinder();
                  finder.selectActionFunction = function (fileUrl) {
                      document.getElementById(field).value = fileUrl;
                  };
                  finder.popup();
              }

        </script>
    }*@


@section upload
{
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
        });
        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $('#fileUpload').get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append('file', files[0]);
                $.ajax(
                    {
                        type: 'POST',
                        url: '/Sach/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr('src', urlImage);
                            $('#hinh').val(urlImage);
                        },
                        error: function (err) {
                            alert('Error ', err.statusText);
                        }
                    });
            }
        });
    </script>
}