@model IEnumerable<ChatCoffee.Models.ModelsDefault.THANHTOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PHUONGTHUC)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PHUONGTHUC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MATT }) |
                @Html.ActionLink("Details", "Details", new { id=item.MATT }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MATT })
            </td>
        </tr>
    }

    </table>*@

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Hình thức Thanh Toán   </h3>

            <div class="card-tools">
                <a href="/admin/ManagePayment/Create" class="btn btn-success">Thêm mới</a>

            </div>

        </div>
        <div class="card-body">
            <table class="table table-bordered">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <thead>
                        <tr>

                            <th> Mã Thanh Toán  </th>
                            <th> Phương Thức  </th>



                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td> @item.MATT </td>
                                    <td> @item.PHUONGTHUC </td>

                                    <td>
                                        <a href="/admin/ManagePayment/edit/@item.MATT" class="btn btn-success">Chỉnh sửa</a>
                                        <a href="/admin/ManagePayment/delete/@item.PHUONGTHUC" class="btn btn-danger">Xóa</a>


                                    </td>


                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                }

            </table>

        </div>
        <div class="card-footer">


        </div>

    </div>


</section>
