@model IEnumerable<ChatCoffee.Models.ModelsDefault.COFFEE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Quản lý sản phẩm </h3>
            <div class="card-tools">
                <a href="/Admin/ManageCoffees/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <thead style="text-align:center">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Loại
                            </th>
                            <th>
                                Thương hiệu
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số lượng còn
                            </th>
                            <th>
                                Lượt xem
                            </th>
                            <th>
                                Lượt mua
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.ANHs.Where(c=>c.MACF==item.MACF).FirstOrDefault().LINKANH)"
                                             style="width:50px;height:50px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENCF)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOAISANPHAM.TENLOAI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.THUONGHIEU.TENTH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SOLUONG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ViewCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SLDABAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TRANGTHAI)
                                    </td>
                                    <td>
                                        <a href="/Admin/ManageCoffees/edit/@item.MACF" class="btn btn-success">Chi tiết</a>
                                        <a href="/Admin/ManageCoffees/Delete/@item.MACF" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                }
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>

</section>

